<div class="text-center">
  <h1 class="bold emphasis larger">Reset Password</h1>
  <p>Please enter your new password...</p>
</div>


<div class="row mainDiv">

  <div class="col-md-3 col-sm-2 col-xs-1"></div>

  <div class="col-md-6 col-sm-8 col-xs-10 text-center">
    <% if not @valid_request %>
     <div class="text-center">
       <h3 class="bold">Sorry, your password recovery code appears invalid or expired.</h3>
    </div>
    <% else %>
      <div id="user-form-errors">

      </div>

      <%= form_for @user, url: save_password_path, remote: true do |f| %>
        <div class="form-group">
          <%= f.label(:password) %>
          <%= f.password_field :password, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label(:password_confirm, "Password Confirmation") %>
          <%= f.password_field :password_confirm, class: "form-control" %>
        </div>

        <%= hidden_field_tag :username, params[:username] %>
        <%= hidden_field_tag :code, params[:code] %>

        <%= submit_tag "Save New Password", :"data-loading-text" => "Signing you in...", :class => "submit-form btn btn-lg btn-danger btn-block" %>

      <% end %>
      
      <div id="success-div" class="alert alert-success">
        Your new password has been saved successfully. You can now visit <%= link_to "Neonia Core", ENV["DISCOURSE_URL"], :class => "alert-link" %> and proceed to log in.
      </div>
    
    <% end %>
  </div>  
  <div class="col-md-3 col-sm-2 col-xs-1"></div>          
</div>
