<div class="text-center">
  <h1 class="bold emphasis larger">Create new account</h1>
  <div class="row">
    <div class="col-md-3 col-sm-2 col-xs-1"></div>
  
    <div class="col-md-6 col-sm-8 col-xs-10 text-center">
      <p>Before using Neonia you need to sign up.</p>
    </div>
    
    <div class="col-md-3 col-sm-2 col-xs-1"></div>
  </div>

</div>

<% if !@user %>

  <div class="row mainDiv text-center">
    <h3 class="bold">Sorry, your Registration Code<br/>
      <span class="large emphasis"><%= params[:reg] %></span>
      <br/>appears to be invalid.</h3>
  </div>

<% else %>
  <div id="user-returned" class="well">
  <div class="row ">

    <div class="col-md-3 col-sm-2 col-xs-1"></div>

    <div class="col-lg-12 col-md-12 col-sm-8 col-xs-10">


      <div class="row">
        <!-- PHOTO COL -->
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
          <div class="photo center-block" style="margin-top: 10px; background-image:url(<%= @user.photo.url %>);">
          </div>
        </div>

        <!-- TEXT COL -->
        <div class="social-connect col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <h1><span class="bold emphasis">Welcome back, <span class="name"><%= @user.name %></span>!</span></h1>
          
          <% if @user.username.present? %>
            <p>You have successfull created your Neonia account. You can now join us in creating a world in which all of us can unfold our full potential.</p>
            
            <hr/>
          
            <%= render "login_steps" %>
            
            
          <% else %>
            <p>It's wonderful to see you again. And we are thrilled that you are taking the next steps with Neonia.<br/><br/>
            Just choose a username and a password and you will be ready to go.<br/><br/>  

            </p>    

            <div id="user-form-errors">

            </div>

            <%= form_for @user, url: {action: "create_account"}, remote: true do |f| %>
              <div class="form-group">
                <%= f.label :username, "Username (3-15 characters)" %>
                <%= f.text_field :username, class: "form-control" %>
              </div>

              <div class="form-group">
                <%= f.label :password %>
                <%= f.password_field :password, class: "form-control" %>
              </div>

              <div class="form-group">
                <%= f.label :password_confirm, "Confirm Password" %>
                <%= f.password_field :password_confirm, class: "form-control" %>
              </div>

              <%= hidden_field_tag :id, params[:id] %>
              <%= hidden_field_tag :code, params[:code] %>
          
              <%= submit_tag "Create Account", :"data-loading-text" => "Creating account...", :class => "submit-form btn btn-lg btn-danger btn-block" %>

            <% end %>
          <% end %>

      </div>
    </div>
  </div>    
</div>
<% end %>

