<div id="join-us" data-menu-offset="-9">
  <div>
    <hr
      data-50-top="border-color: rgb(217, 83, 79);"
      data-100-top="border-color: rgb(51, 51, 51);"
      data-anchor-target="#join-us > div"     
        />
    <h1 class="bold fancy"
        data-50-top="color: rgb(217, 83, 79);"
        data-100-top="color: rgb(51, 51, 51);"
        data-anchor-target="#join-us > div"><span>Join us</span></h1>
      
    <p>Imagine the world 30 years from now. It is the year 2045.<br/><br/>
      
      Humanity is celebrating the 22nd anniversary of world peace, marking the end of the last military conflict over 20 years ago. Ever since, the world has started jointly working towards common goals and collectively advancing human progress. Never before in history was there a period during which research and innovation were aimed exclusively at propelling humanity forward. We are seeing an unprecedented rate of technological discovery, artistic expression, NEEDME.<br/><br/>
      
      News are confirming that nature is finally starting to recover from the centuries of environmental exploitation. The ice caps are increasing in surface area, the Great Barrier Reef is flourishing again, and the occurence of natural disasters is declining. Human beings have begun paying careful attention to maintaining the sustainability of nature that our lives and the lives of our children so essentially depend upon.<br/><br/>
      
      Provision of the basic needs - access to food, water, shelter, education, and health care - for all human beings have become self-evident realities. Poverty, malnutrition, and lack of clean drinking water are all stories of the past. Millions of children grow up every year, encouraged and empowered to pursue their dreams and follow their hearts. People work not out of necessity, but out of desire and passion.<br/><br/>
      
      This is not a world without problems and conflicts. Life would not be life without the gentle ups and downs that accompany our personal journeys. But this is a world without poverty, without malnutrition, without war, and without environmental exploitation. This is a world in which all of humanity thrives and flourishes.
      </p>
    
      <hr/>
            
      <h3 class="bold">Will you help us write the future of humanity?</h3>
    
    
    <div id="user-form">
      <div id="user-form-errors">
      
      </div>
      
      <div class="row">
          
        <%= form_for @user, url: {action: "signup"}, :html => {:multipart => true}, :remote => true do |f| %>
        
          <!-- PHOTO COL -->
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="upload-photo center-block">
              <%= f.file_field :photo, :value => "", :accept => "image/*"%>
            </div>
            <p class="text-center">Upload Picture</p>
          </div>
        
          <div class="clearfix visible-xs-block"></div>
        
          <!-- INPUT FIELDS -->
          <div class="input-fields col-lg-5 col-md-5 col-sm-6 col-xs-12">
            <div class="form-group name">
              <%= f.label :name %>
              <%= f.text_field :name, :class => "form-control", :placeholder => "First name, nickname, fantasy name..." %>
            </div>

            <div class="form-group email">
              <%= f.label :email %>
              <%= f.text_field :email, :class => "form-control" %>
              <span class="help-block">Your email will never be shared with anyone.</span>
            </div>
            
            <%= f.hidden_field :require_photo %>
            <%= f.submit "Join Neonia", :class => "btn btn-danger btn-lg btn-block submit-form" %>
          </div>        
        
        <% end %>
        
        <div class="clearfix visible-xs-block visible-sm-block spacing"></div>
        
        <!-- SOCIAL CONNECT -->
        <div class="social-connect col-lg-4 col-md-4 col-sm-12 col-xs-12">
          <h3 class="bold text-center">OR</h3>
          <button class="facebook btn btn-primary btn-block">Join with Facebook</button>
          <button class="google btn btn-danger btn-block">Join with Google+</button>
        </div>
      </div>
    </div>
    
    <div id="user-success">
      <div class="row well">
        <!-- PHOTO COL -->
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <div class="photo center-block">
          </div>
        </div>
        
        <!-- TEXT COL -->
        <div class="social-connect col-lg-8 col-md-8 col-sm-6 col-xs-12">
          <h1><span class="bold emphasis">Welcome to Neonia</span></h1>
          <p>This is a big moment, <span class="name"></span>. You have joined our visionary movement to create a better world in which all human beings thrive.<br/><br/>
            
            We know that we can have a huge impact on the world. But we cannot do it alone. Would you mind sharing this with a few friends? <br/><br/>
            
            Our platform will be launching in the near future. You can count on us to keep you posted.</p>
          <h3 class="bold">Thank you!</h3>
        </div>
      </div>
    </div>

  </div>
</div>