<div style="height: 100px; width: 100%;"></div>

<div id="join-us" data-menu-offset="-9">
  <div>
    <hr
      data-50-top="border-color: rgb(217, 83, 79);"
      data-100-top="border-color: rgb(51, 51, 51);"
      data-anchor-target="#join-us > div"     
        />
    <h1 class="bold fancy"
        data-50-top="color: rgb(217, 83, 79);"
        data-100-top="color: rgb(51, 51, 51);"
        data-anchor-target="#join-us > div"><span>Join us</span></h1>
    
    <div id="user-form" class="hidden">
      
      <div id="user-form-errors">
      
      </div>
      
      <div class="row">
          
        <%= form_for @user, url: {action: "signup"}, :html => {:id => "fileupload", :multipart => true}, :remote => true do |f| %>
        
          <!-- PHOTO COL -->
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="upload-photo center-block">
              <%= f.file_field :photo, :value => "", :accept => "image/*"%>
            </div>
          </div>
        
          <div class="clearfix visible-xs-block"></div>
        
          <!-- INPUT FIELDS -->
          <div class="input-fields col-lg-5 col-md-5 col-sm-6 col-xs-12">
            <div class="form-group">
              <%= f.label :name %>
              <%= f.text_field :name, :class => "form-control", :placeholder => "First name, nickname, fantasy name..." %>
            </div>

            <div class="form-group subscribe" data-toggle="buttons">
              <%= label_tag @user.subscribe, :class => "btn btn-default btn-block" do %>
                <%= f.check_box :subscribe, :autocomplete => :off %> &#10004; Keep me updated
              <% end %>
              <span class="help-block">If you would like, we will send you occasional updates and inform you of the launch of our platform</span>
            </div>

            <div class="form-group email">
              <%= f.label :email %>
              <%= f.text_field :email, :class => "form-control" %>
              <span class="help-block">Your email will never be shared with anyone.</span>
            </div>
            <%= f.submit "Join Neonia", :class => "btn btn-danger btn-lg btn-block submit-form" %>
          </div>        
        
        <% end %>
        
        <div class="clearfix visible-xs-block visible-sm-block"></div>
        
        <!-- SOCIAL CONNECT -->
        <div class="social-connect col-lg-4 col-md-4 col-sm-12 col-xs-12">
          other stuff
        </div>
      </div>
    </div>
    
    <div id="user-success">
      <div class="row well">
        <!-- PHOTO COL -->
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <div class="photo center-block">
          </div>
        </div>
        
        <!-- TEXT COL -->
        <div class="social-connect col-lg-8 col-md-8 col-sm-6 col-xs-12">
          <h1><span class="bold emphasis">Welcome to Neonia</span></h1>
          <p>This is a big moment, Finn. You have joined our visionary movement, creating a better world in which all human beings thrive.</p>
          <h3 class="bold">Thank you!</h3>
        </div>
      </div>
    </div>

  </div>
</div>