<!DOCTYPE html>
<html>
<head itemscope itemtype="http://schema.org/GovernmentOrganization">
  <title>Neonia &middot; Writing the Future of Humanity</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  
  <!-- Schema.org markup for Google+ -->
  <meta itemprop="name" content="Neonia &middot; Writing the Future of Humanity">
  <meta itemprop="description" content="We are building Neonia - a global, borderless, online country dedicated to empowering every human being to flourish.">
  <meta itemprop="image" content="http://www.neonia.org/shared/facebook-og-image.png">  
  
  <!-- Twitter Dev Card -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@neonianation">
  <meta name="twitter:title" content="Neonia &middot; Writing the Future of Humanity">
  <meta name="twitter:description" content="We are building Neonia - a global, borderless, online country dedicated to empowering every human being to flourish.">
  <meta name="twitter:image:src" content="http://www.neonia.org/shared/facebook-og-image.png">
  
  <!-- Open Graph data -->
  <meta property="og:url"                content="http://www.neonia.org/" />
  <meta property="og:title"              content="Neonia &middot; Writing the Future of Humanity" />
  <meta property="og:description"        content="We are building Neonia - a global, borderless, online country dedicated to empowering every human being to flourish." />
  <meta property="og:site_name"          content="Neonia" />
  <meta property="og:image"              content="http://www.neonia.org/shared/facebook-og-image.png" />

</head>
<body data-spy="scroll" data-target="#bs-example-navbar-collapse-1" data-offset="0">
  
  <nav class="navbar navbar-default navbar-fixed-top"
       data-60-top="background-color: rgba(233,233,233,0); border-color: rgba(200, 200, 200, 0);"
       data-50-top="background-color: rgba(233,233,233, 1.0); border-color: rgba(200, 200, 200, 1.0);"
        data-anchor-target="#new-world > div"
       >
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#home">Home <span class="sr-only">(current)</span></a></li>
          <li><a href="#new-world">New World</a></li>
          <li><a href="#action-plan">Action Plan</a></li>
          <li><a href="#join-us">Join Us</a></li>
        </ul>
        
        <span class="navbar-right hidden-xs">
          <%= social_bar.html_safe %>
        </span>
      </div><!-- /.navbar-collapse -->
    </div>
  </nav>
  
  <div id="content" style="overflow-x: hidden;">
    <%= yield 
%>
  </div>

  
  <footer>
    <span class="bold emphasis title">Neonia &middot; </span>
    <span class="social-bar-fix">
      
      <%= social_bar.html_safe %>

    </span>
    <p>Writing the Future of Humanity</p>
  </footer>
  
  <%= piwik_tracking_tag %>
  
</body>
</html>
